.cards{
    height: 300px;
    width: 250px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
    /* border: 2px solid black; */
}
.imgs{
    height: 250px;
    width: 250px;
    /* margin-top: 50px; */
}
h5{
    height: 20px;
    background-color: aliceblue;
    text-align: center;
}
p{
    height: 150px;
    text-align: justify;
    /* border: 2px solid black; */
}
a button{
    height: 40px;
    width: 250px;
    background-image: linear-gradient(90deg ,blue, red);
    color: white;
    font-weight: 800;
}